@import url('reset.css');
@font-face {
  font-family: aa;
  src: url(KouzanMouhituFontOTF.otf);
}

@keyframes bigTitleA{
		0%{
		
		background-color: rgba(0,0,0,.25); 
	}


	100%{
		
		
		background-color: rgba(0,0,0,.8); 
	}
}
@keyframes bigTitleB{
		0%{
		
		opacity: 0;
	}
			


	100%{
		
		opacity: 1;
	}
}

.allline{
	width: 100%;
	height: 1px;
	background: #666;
	opacity: .5;
	margin: 100px 0 100px 0;
}
.toTop{
	display: block;
	width: 70px;
	height: 70px;
	background-color: #8C0044;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 50px;
	bottom: 60px;
	text-decoration: none;
	border-radius: 50%;
	font-size: 2em;
	transition: .3s;
	z-index: 10;
	opacity: 0;
}

.toTop .fa{
	transition: .3s;
}

.toTop:hover{
	background-color: #333;
}

.toTop:hover .fa{
	transform: translateY(-5px);
}
.jiousaio,.pic1,.portfolio,.pic2,.pic3,.pic4,{
	opacity: 0;
	position: relative;
	bottom: -100px;

}

/*------------------index---------------------*/
.all{
	  overflow: hidden; 
}
.header{
	width: 100%;
	height: 70px;
	background: #111;
	color: #fff;
	position: fixed;
	left: 0;
	top: 0px;
	z-index: 1000;
	opacity: 0;

}
.header a{
	color: #fff;
}
.header ul{
		margin-right: 100px;
}
.header li{
	float: right;
	line-height: 70px;
	font-family: Verdana;
	font-weight: bold;
	margin-right: 50px;
	width: 150px;
	text-align: center;
}
.header li:hover{
background: #555;
}
.header img{
	width: 250px;
	height: 40px;
	float: left;
    margin-top: 15px;
    margin-left: 50px;
}

/*----banner----*/

.mySlides {display: none;}


.slideshow-container {
 max-width: 100%;
  position: relative;
  margin: auto;
}




.numbertext {
  position: absolute;
  top: 0;
  opacity: 0;
}
.dot {
  display: none;
  height: 1px;
  width: 1px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}

.fade {
  -webkit-filter:brightness(.4);
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*-------------*/

.center{
  background-position: center center;
background-size: cover;
 display: block;
 max-width: 800px;
	width: 100%;
	height: 100vh;
	max-width: 2400px;
	-webkit-filter:brightness(.4);
	overflow: hidden;
	
}


.top img{
	position: absolute;
	left: 50px;
	top: 50px;
	width: 300px;
	height: 50px;
}
.right{

	width: 330px;
	height: 330px;
	position: absolute;
	right: 0px;
	top: 250px;
}

.about{
	font-weight: bold;
}
.about li{
width: 100%;
height: 110px;
margin-bottom: 1px;
}
.about  li{
background-color: rgba(0,0,0,.4); 

}
.about a{
	color: #fff;
	z-index: 1000;
	color: #fff;
	opacity: 1;
	font-size: 24px;
	text-decoration:none;
}
.about li h1{
	margin-left: 40px;
	padding-top: 30px;
	font-family: Microsoft JhengHei;
	font-weight: bold;
}
.about li:hover{
   animation: bigTitleA 1s  forwards;
}
.about li h2{
	color: #888;
	font-size: 18px;
	padding: 15px 0 0 40px;
	font-family: Microsoft JhengHei;

}
.bannertext{
	position: absolute;
	left:200px;
	top:350px;
	color: #fff;
	font-size: 90px;
	letter-spacing: 5px;　   
	font-family:Microsoft JhengHei;
	font-weight: bold;
}
.bannertext p{
	float: left;
	margin-top: 45px;
	width: 72px;
	height: 2px;
	background-color:#8C0044;
	margin-right: 30px;
}
.E{
	margin-top: 30px;
	font-size: 32px;
	font-family: Microsoft JhengHei;
	color: #DDDDDD;
}
/*------------------關於九霄------------------*/
.title{
	margin-top: 50px;
	font-size: 50px;
	text-align: center;
	color: #8C0044;
	font-weight: bold;
	font-family: Microsoft JhengHei;
}
.jiousaio{
	width: 100%;
	height: 500px;

}
.line{
	display: block;
	margin: 30px auto 30px auto;
	width: 72px;
	height: 2px;
	background-color:#8C0044;
}
.p1{
	font-size: 24px;
	text-align: center;
	color: #8C0000;
	font-weight: bold;
	font-family: Microsoft JhengHei;
	z-index: 1000;
	padding: 10px;
}
.p2{
	font-size: 30px;
	text-align: center;
	margin: 50px 600px 0 0;
	color: #8C0044;
	font-weight: bold;
	font-family: Microsoft JhengHei;
}
.p3{
	width: 100%;
   	font-size: 24px;
	text-align: center;
	margin: 50px auto;
	color: #8C0000;
	font-weight: bold;
	font-family: Microsoft JhengHei;
	float: left;
}
.p3 span{
	margin-right:30px;
}
.bgtext{
	font-size: 80px;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	color: #888;
	position: relative;
	top: 150px;
	left: 0px;
	text-align: center;
	z-index: -100;
	letter-spacing: 5px;
	opacity: .3;
}

#mainPic{
display: block;
margin: 0 auto;
}
#mainPic3D{
display: block;
margin: -150px auto 0 auto;
width: 640px;
height: 426px;
transition: .5s;
}

/*------------------作品呈現------------------*/

.portfolio{
	height: 100vh;
}
.portfolio img{
	width: 100%;
	
	margin-left: 5px;
	margin-top: 5px;
	z-index: 1000;
	float: left;

}
.portfolio a:hover > img{
	-webkit-filter:brightness(.5);
	transition: .5s;
}
    .main {
  max-width: 1000px;
  margin: auto;
}


.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
	margin: 5px;
  float: left;
  width: 30%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 0px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: 1px solid #ddd;
  border-radius:5px;
  outline: none;
  padding: 12px 16px;
  background-color: #ddd;
  cursor: pointer;
  font-size: 16px;
  font-family: Microsoft JhengHei;
}

.btn:hover {
  background-color: #8C0044;
  transition: .5s;
  color: #fff;
}

.btn.active {
  background-color: #8C0044;
  color: white;
}

.imgtext{
	position: absolute;
	left: 50px;
	top: 200px;
	color: #fff;
	opacity: 0;
}
.imgtext2{
	position: absolute;
	left: 455px;
	top: 200px;
	color: #fff;
	opacity: 0;
}

.portfolio img:hover ~.imgtext,.portfolio img:hover ~.imgtext2{
	opacity: 1;
	transition: .5s;
}


/*------------------contact-------------------*/
.contact{
	background: #222;
	height: 400px;
	width: 100%;
}
.bgtext2{
	font-size: 80px;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	color: #999;
	position: relative;
	top: 120px;
	left: 0px;
	text-align: center;
	
	letter-spacing: 5px;
	opacity: .1;
}
.title2{
	margin-top: 20px;
	font-size: 50px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-family: Microsoft JhengHei;
}
.mail{
	color: #fff;
	font-size: 18px;
	margin: 150px 0 0 200px;
	float: left;
	font-family: Verdana;
	text-align: center;
}
.mail i{
	margin-right: 20px;
}
.mail:hover{
	transform: scale(1.2);
	transition: .5s;
}
/*------------------footer--------------------*/
.footer{
	color: #fff;
	font-size: 12px;
	background-color: #222;
	text-align: center;
	width: 100%;
	height: 30px;
	font-family: Verdana;
}
/*------------------首頁loading---------------*/
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  border: 0px;
  height: 2px;
  overflow: hidden;
  background:#fff;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 300px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #8C0044;
}

.pace.pace-inactive {
  display: none;
}

#preloader{
  width:100%;
  height:100%;
  background:#101010;
  overflow:hidden;
  position:fixed;
  z-index: 1000;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.loading {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8C0044;
    font-family: Microsoft JhengHei;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 3px
    
}
/*------------------其餘loading---------------*/
 .loader{
      	position: fixed;
      	z-index: 99;
      	top: 0px;
      	left: 0px;
      	width: 100%;
      	height: 100%;
      	background: #fff;
      	display: flex;
      	justify-content: center;
      	align-items: center;
      }
      .loader>img{
      	width: 200px;
      }
      .loader.hidden{
      	animation: fadeOut .5s;
      	animation-fill-mode: forwards;
      }
      @keyframes fadeOut{


      	50%{
      		opacity: 1;
      		
      	}
      	
      	100%{
      		opacity: 0;
      		visibility: hidden;
      	}
      }

 /*-----------------------------*/


.sel{
  width: 500px;
  z-index: 1000;
  border: 1px solid #e5e5e5;

}



li{
  
}
.sel .fa{
	margin-right: 20px;
	opacity: 0;
}
.sel h1 {
  font-size: 1.2em;
  line-height: 3;
  padding-left: 20px;
 color: #fff;
  background-color:#3C3C3C	;
    cursor: pointer;
  transition: .3s;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  margin-top: 10px;


}

.sel h1:hover{
  background-image: none;
  background-color: #8C0044;
  color: white;
}

.sel div{
  background-color: #fff;
  width: 1300px;
  
  overflow: hidden;
}



/*------------------rwd*/
@media screen and (max-width: 1024px){
	.bannertext{
		font-size: 36px;
		position: absolute;
	left:50px;
	top:300px;
	}
	.top img{
	position: absolute;
	left: 30px;
	top: 30px;
	width: 200px;
	height: 35px;
}
		.E{
			font-size: 24px;
		}
.header{
	display: none;
}
.right{
	display: none;
}

.bgtext{
	font-size: 40px;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	color: #888;
	position: relative;
	top: 150px;
	left: 0px;
	text-align: center;
	z-index: -100;
	letter-spacing: 5px;
	opacity: .3;
}
..title{
	margin-top: 50px;
	font-size: 40px;
	text-align: center;
	color: #8C0044;
	font-weight: bold;
	font-family: Microsoft JhengHei;
}
.p1{
	font-size: 18px;
	text-align: center;
	color: #8C0000;
	font-weight: bold;
	font-family: Microsoft JhengHei;
	z-index: 1000;
}
.p2{

	font-size: 30px;
	text-align: center;
	margin: 40px auto;
	color: #8C0044;
	font-weight: bold;
	font-family: Microsoft JhengHei;
}
.p3{
	width: 100%;
   	font-size: 18px;
	text-align: center;
	margin: 0px auto;
	color: #8C0000;
	font-weight: bold;
	font-family: Microsoft JhengHei;
	float: left;
}
.p3 span{
	margin-right:10px;
}
.portfolio{
	height: 100%;
	display: block;
	margin: 0 auto;
}
    .main {
  width: 90%;
  margin: 0 auto;

}




.column {
  width: 100%;
  
}


.block1{
	width: 350px;
}
.portfolio img{
	width: 90%;
	
	margin-left: 5px;
	margin-top: 10px;
	
}
.sel{
  width: 500px;
  z-index: 1000;
  border: 1px solid #e5e5e5;

}
.sel div{
  background-color: #fff;
  width: 500px;
  overflow: hidden;
}






.contact{
	background: #222;
	height: 200px;
	width: 100%;
}
.bgtext2{
	font-size: 30px;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	color: #999;
	position: relative;
	top: 120px;
	left: 0px;
	text-align: center;
	
	letter-spacing: 5px;
	opacity: .1;
}
.title2{
	margin-top: 20px;
	font-size: 30px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-family: Microsoft JhengHei;
}
.mail{
	color: #fff;
	font-size: 18px;
    margin:10px 0 10px 20%;
	font-family: Verdana;
	float: left;
	text-align: center;
}
.mail i{
	margin-right: 20px;
}
.mail:hover{
	transform: scale(1.2);
	transition: .5s;
}

.footer{
	padding-top: 30px;
	color: #fff;
	font-size: 12px;
	background-color: #222;
	text-align: center;
	width: 100%;
	height: 30px;
	font-family: Verdana;
}


.toTop{
	display: block;
	width: 50px;
	height: 50px;
	background-color: #8C0044;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 50px;
	bottom: 60px;
	text-decoration: none;
	border-radius: 50%;
	font-size: 2em;
	transition: .3s;
	z-index: 10;
	opacity: 0;
}

.toTop .fa{
	transition: .3s;
}

.toTop:hover{
	background-color: #333;
}

.toTop:hover .fa{
	transform: translateY(-5px);
}

.loading {
   font-size: 24px;
    
}
}